body{
    /* overflow-x: hidden; */
}

body{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

header{
    position: fixed;
    inset: 0 0 auto 0;
    background-color: #fff;
    padding: 20px 25px 20px 25px;
}

header h1{
    font-family: 'Open Sans', sans-serif;
}

header img{
    height:34px ;
}

.arrows1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrows1 i{
    opacity: 1;
    margin: 25px 25px 25px 25px;
    cursor: pointer;
    color: #ff8000;
}

.arrows1 i:hover{
    opacity: 0.5;
} 

.create, .join {
    /* width: 100%; */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

.create{
    transition-timing-function: ease-in-out;
    transition: 5s;
    display: none;
}

.create h1, .join h1{
    text-align: center;
    width: 100%;
    font-family: "Roboto",sans-serif;
    font-size: 44px;
    line-height: 50px;
}

@media  (max-width:690px) {
    .create h1, .join h1{
        font-size: 35px;
    }
    
}

.create p, .join p{
    text-align: center;
    width: 100%;
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 40px;
}

.templateInfo{
    display: flex;
    justify-content: left;
    /* justify-content: space-between; */
}

.templateInfo h1{
    font-size: 50px;
    line-height: 57px;
    font-weight: 80px;
    width: 300px;
}

.templateInfo p{
    margin-left: 150px;
    width: 450px;
}

.templates{
    display: grid;
    margin: 50px;
    /* width: 100%; */
    /* overflow-x: hidden; */
    /* margin: 30px; */
    grid-template-columns: auto auto auto;
    column-gap: 100px;
    row-gap: 100px;
    height: 400px;
}

.templates img{
    /* width: 100%; */
    /* margin: 50px; */
    /* width: 100vw; */
    /* height: 100vh; */
    height: 400px;
    object-fit: cover;
    object-position: top;
}


